html, body {
  height: 100%;
  margin: 0;
}

body {
  background: cornsilk;
}

#both-img {
  position: absolute;
  margin-left: -150px;
}

#both-logo {
  position: absolute;
  margin-left: 5px;
}

#wrapper {
  min-height: 100%;
}

.both-main {
  display: block;
  height: 100px;
  line-height: 100px;
  border: 5px solid mediumspringgreen;
  background: black;
  color: white;
  font-size: 40pt;
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-family: 'Lobster', cursive;
  animation: remediation 5s infinite;
}

.center {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  float: left;
  display: block;
  margin-left: 5px;
  width: 100px;
}

.product-container {
  text-align: center;
  margin: 0 auto;
}

.product {
  text-align: center;
  border: 5px double rgba(0,0,0,0.5);
  width: 400px;
  height: 450px;
  background-color: mintcream;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 20px;
  display: inline-block;
  vertical-align: top;
}

.product-img {
  display: block;
  margin: 10px auto;
  border: 2px solid brown;
  border-radius: 10px;
}

.product-title {
  border-bottom: 1px solid black;
  font-family: monospace;
  font-size: 22pt;
  margin-top: 0px;
  padding-bottom: 10px;
}

.product-description {
  font-family: monospace;
}

.divineBeing-left {
  padding: 10px;
  border-top: 1px solid blue;
  border-right: 10px solid blue;
  border-bottom: 1px solid blue;
  background-color: #42d4f4;
  width: 1000px;
  font-family: monospace;
  font-size: 22pt;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inspiration-right {
  padding: 10px;
  border-top: 1px solid blue;
  border-left: 10px solid blue;
  border-bottom: 1px solid blue;
  background-color: #42d4f4;
  width: 1000px;
  font-family: monospace;
  font-size: 22pt;
  margin-top: 20px;
  margin-bottom: 20px;
  float:right;
}

.footer {
  padding: 10px;
  border-top: 1px solid blue;
  background-color: #072748;
  font-family: monospace;
  font-size: 22pt;
  margin-top: 20px;
  clear: both;
  color: white;
}

@keyframes remediation {
  0% {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em magenta;
  }
  50% {
    text-shadow: 1px 1px 2px green, 0 0 1em mistyrose, 0 0 0.2em palegoldenrod;
  }
  100% {
    text-shadow: 3px 1px 2px whitesmoke, 0 0 1em cyan, 3px 0 0.2em blanchedalmond;
  }
}
